<table class="table">
  <thead>
    <tr>
      <th><%= NodePing.human_attribute_name(:created_at) %></th>
      <th><%= NodePing.human_attribute_name(:result) %></th>
    </tr>
  </thead>
  <tbody>
    <% pings.each do |ping| %>
      <tr>
        <td><%= l(ping.created_at) %></td>
        <td><%= ping.result ? 'Pass' : 'Failed' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
